/* Tehdään laskurille kivempi ulkoasu*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f69abf;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: #e721ae;
    letter-spacing: 2px
}